.global-theme {
          --font-families-dinpro: DINPro;
  --line-heights-0: 38;
  --line-heights-1: 36;
  --line-heights-2: 32;
  --line-heights-3: 28;
  --line-heights-4: 26;
  --line-heights-5: 24;
  --line-heights-6: 20;
  --line-heights-7: 18;
  --line-heights-8: 16;
  --font-weights-dinpro-0: Bold;
  --font-weights-dinpro-1: Black;
  --font-weights-dinpro-2: Regular;
  --font-size-0: 10px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 28px;
  --font-size-8: 30px;
  --letter-spacing-0: 0%;
  --letter-spacing-1: 0;
  --paragraph-spacing-0: 0;
  --font-title-font-1000: [object Object];
  --font-title-font-800: [object Object];
  --font-title-font-700: [object Object];
  --font-title-font-600: [object Object];
  --font-title-font-499: [object Object];
  --font-title-font-400: [object Object];
  --font-title-font-300: [object Object];
  --font-body-font-200: [object Object];
  --font-body-font-100: [object Object];
  --font-body-font-99: [object Object];
  --font-body-font-80: [object Object];
  --font-chips-font-90: [object Object];
  --font-chips-font-60: [object Object];
  --font-caption-font-50: [object Object];
  --font-caption-font-88: [object Object];
  --font-caption-font-10: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
      }